</main>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> Micro Path Labs' Blog</p>
</footer>


<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.14.0/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyDBeIl0PFxq_bXfYiiRKA79p_NbRBX63Ek",
    authDomain: "testblogapp-fae68.firebaseapp.com",
    projectId: "testblogapp-fae68",
    storageBucket: "testblogapp-fae68.appspot.com",
    messagingSenderId: "677789732024",
    appId: "1:677789732024:web:d0f042e3eaabde5ccc384d"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
</script>
</body>
</html>