<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <img src="/MPL-Since2001(2).png" alt="MPL Since 2001" class="header-logo left-align">
        <h1>Micro Path Labs' Blog</h1>
    </header>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create Post</a></li>
        </ul>
    </nav>
    <main>